<section class="login">
    <div class="modal-body">
      <h1 class="titlelogin mt-4">LOGIN</h1>
      <form class="row g-3 mt-2">

        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <label for="validationCustom03" class="form-label">E-mail</label>
          <input type="text" class="form-control" id="validationCustom03" required>
          <div class="invalid-feedback">
            Ingrese un correo válido
          </div>
        </div>
        <div class="col-md-4">
        </div>

        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <label for="validationCustom05" class="form-label">Contraseña</label>
          <input type="text" class="form-control" id="validationCustom05" required>
          <div class="invalid-feedback">
            Ingrese una contraseña
          </div>
        </div>
        <div class="col-md-4">
        </div>

        <div class="col-md-5">
        </div>
        <div class="col-md-1">
            <button class="btn btn-secondary mb-3" type="submit">Cancelar</button> 
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary mb-3" type="submit">Iniciar sesión</button> 
        </div>
        <div class="col-md-5">
        </div>
        <div class="col-md-7">
            <small>¿No tienes cuenta? <a routerLink="/registro">Regístrate</a>.</small>
        </div>
      </form>
    </div>
</section>