body{
    background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1)),url(assets/img/backg.jpg);
    background-attachment:fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}